@page "/org/{organizationId:guid}/members"
@using Web.Client.Services;
@layout OrganizationLayout
@attribute [Authorize]

@inject OrganizationsService _organizationsService
@inject IAuthorizationService _authorizationService

<MudTabs Outlined="false" Border="true" ApplyEffectsToContainer="true" Color="Color.Default" Rounded="true" Position="Position.Top" Centered="false">
    <MudTabPanel Text="Members">
        @if (_membersVM is not null)
        {
            <MembersList Members="@_membersVM.Members" RemoveMembersPermission="@_removeMembersPermission" ManageRolesPermission="@_manageRolesPermission" ApiUrl="@($"organizations/{OrganizationId}/members")" 
                MembersUpdated="UpdateMembersVM" RolesVM="@_rolesVM"></MembersList>
        }
    </MudTabPanel>
    @if (_inviteMembersPermission)
    {
        <MudTabPanel Text="Invitations">
            @if (_invitationsVM is not null)
            {
                <MudPaper Class="mb-4">
                    <div class="d-flex gap-2 align-end px-3 py-2">
                        <MudAutocomplete T="UserSearchVM" Label="Invite Users" @bind-Value="_selectedUserForInvitation" SearchFunc="SearchUsers"
                                         ResetValueOnEmptyText="true" AdornmentIcon="@Icons.Material.Filled.Search" ToStringFunc="(user => user.Email)" Variant="Variant.Filled" />
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Style="height: 56px; width: 100px;" Disabled="@(_selectedUserForInvitation is null)" OnClick="SendInvitation">Invite</MudButton>
                    </div>
                    <MudDivider Class="mt-2" />
                    <MudList>
                        @foreach (var invitation in _invitationsVM.Invitations)
                        {
                            <MudListItem>
                                <div class="d-flex justify-space-between align-center">
                                    @invitation.UserEmail
                                    <div class="d-flex gap-1 show-on-hover-parent align-center">
                                        <MudIconButton Icon="@Icons.Material.Filled.Clear" Color="Color.Error" OnClick="() => CancelInvitation(invitation.Id)"
                                                       Class="@(invitation.State == OrganizationInvitationState.Pending ? "show-on-hover" : "invisible")"></MudIconButton>
                                        @if(invitation.FinalizedAt is not null)
                                        {
                                            <MudTooltip Text="@(invitation.FinalizedAt.Value.ToString("g"))">
                                                <MudChip Variant="Variant.Filled" Color="@GetInvitationStateColor(invitation.State)">@invitation.State.ToString()</MudChip>
                                            </MudTooltip>
                                        }
                                        else
                                        {
                                            <MudChip Variant="Variant.Filled" Color="@GetInvitationStateColor(invitation.State)">@invitation.State.ToString()</MudChip>
                                        }
                                        <MudText Typo="Typo.subtitle2">
                                            @(invitation.CreatedAt.ToShortDateString())
                                        </MudText>
                                    </div>
                                </div>
                            </MudListItem>
                        }
                    </MudList>
                    <div class="d-flex align-center justify-center">
                        <MudPagination BoundaryCount="1" MiddleCount="3" ShowFirstButton="true" ShowLastButton="true" Class="mb-4" Size="Size.Large"
                                       Count="_invitationsVM.TotalPagesCount" SelectedChanged="UpdateInvitationsVM" Selected="_invitationsPagination.PageNumber" />
                    </div>
                </MudPaper>
            }
        </MudTabPanel>
    }
    @if (_manageRolesPermission)
    {
        <MudTabPanel Text="Roles">
            <RolesEditor RolesVM="@_rolesVM" TPermissions="OrganizationPermissions" ApiUrl="@($"organizations/{OrganizationId}/roles")" RolesUpdated="UpdateRolesVM"></RolesEditor>
        </MudTabPanel>
    }
</MudTabs>

@code {
    [Parameter]
    public Guid OrganizationId { get; init; }

    [CascadingParameter]
    public OrganizationLayout Layout { get; set; } = null!;

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; } = null!;

    private OrganizationMembersVM? _membersVM;
    private OrganizationInvitationsVM? _invitationsVM;
    private RolesVM<OrganizationPermissions>? _rolesVM;

    private UserSearchVM? _selectedUserForInvitation;

    private bool _inviteMembersPermission = false;
    private bool _removeMembersPermission = false;
    private bool _manageRolesPermission = false;

    private Pagination _invitationsPagination = new();

    protected override async Task OnInitializedAsync()
    {
        await Layout.SetOrganizationId(OrganizationId);

        var user = (await AuthenticationState).User;

        _inviteMembersPermission = (await _authorizationService.AuthorizeAsync(user, Policy.OrganizationInviteMembers)).Succeeded;
        _removeMembersPermission = (await _authorizationService.AuthorizeAsync(user, Policy.OrganizationRemoveMembers)).Succeeded;
        _manageRolesPermission = (await _authorizationService.AuthorizeAsync(user, Policy.OrganizationManageRoles)).Succeeded;

        await UpdateMembersVM();

        if(_inviteMembersPermission)
        {
            await UpdateInvitationsVM();
        }

        if(_manageRolesPermission)
        {
            await UpdateRolesVM();            
        }
    }

    // TODO: Delete the UpdateVM methods?
    private async Task UpdateMembersVM()
    {
        _membersVM = await _organizationsService.GetMembers(OrganizationId);
    }

    private async Task UpdateInvitationsVM(int pageNumber = 1)
    {
        _invitationsPagination.PageNumber = pageNumber;
        _invitationsVM = await _organizationsService.GetInvitations(OrganizationId, _invitationsPagination);
    }

    private async Task UpdateRolesVM()
    {
        _rolesVM = await _organizationsService.GetRoles(OrganizationId);
    }

    private async Task<IEnumerable<UserSearchVM>> SearchUsers(string value)
    {
        if(string.IsNullOrWhiteSpace(value))
        {
            return Enumerable.Empty<UserSearchVM>();
        }

        var users = await _organizationsService.GetUsersAvailableForInvitation(OrganizationId, value);
        return users?.Users ?? Enumerable.Empty<UserSearchVM>();
    }

    private async Task SendInvitation()
    {
        if(_selectedUserForInvitation is null)
        {
            return;
        }

        var model = new CreateOrganizationInvitationDto(_selectedUserForInvitation.Id);
        _ = _organizationsService.SendInvitation(OrganizationId, model);

        _selectedUserForInvitation = null;

        await UpdateInvitationsVM();
    }

    private async Task CancelInvitation(Guid invitationId)
    {
        _ = await _organizationsService.CancelInvitation(OrganizationId, invitationId);
        await UpdateInvitationsVM();
    }

    private Color GetInvitationStateColor(OrganizationInvitationState state)
        => state switch
        {
            OrganizationInvitationState.Pending => Color.Default,
            OrganizationInvitationState.Accepted => Color.Success,
            OrganizationInvitationState.Declined => Color.Error,
            OrganizationInvitationState.Canceled => Color.Warning,
            _ => Color.Default
        };
}
