@page "/"
@attribute [Authorize]

@inject NavigationManager NavManager
@inject OrganizationsService OrganizationsService
@inject IDialogService DialogService
@inject HierarchyNavigationService HierarchyNavigationService
@inject UserDataService UserDataService

@if(_organizationsVM is not null)
{
    <div class="d-flex align-center justify-space-between">
        <div class="d-flex align-center">
            <MudText Typo="Typo.h5">
                Organizations
            </MudText>
            <MudIconButton Icon="@GetOrganizationInvitationsIcon()" Disabled="@(!HasOrganizationInvitations())" OnClick="@OpenInvitationsDialog"></MudIconButton>
        </div>
        <MudButton StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => _createOrganizationForm.Open())">
            Create
        </MudButton>
    </div>
    <MudDivider Class="mb-3 mt-1" />
    <div class="d-flex flex-column gap-4">
        @foreach (var organization in _organizationsVM.Organizations)
        {
            <MudPaper Class="organization-card" onclick="@(() => SelectOrganization(organization.Id))">
                <MudText Typo="Typo.h6">
                    @organization.Name
                </MudText>
            </MudPaper>
        }
    </div>
}

<Dialog Title="Create a organization" Form="_createOrganizationForm" OnConfirm="CreateOrganization">
    <LabeledInput Label="Name" Required="true">
        <MudTextField @bind-Value="@_createOrganizationForm.Name" Required="true" Variant="Variant.Outlined" Class="input-outlined-dark" />
    </LabeledInput>
</Dialog>

@code {
    private UserOrganizationInvitationsVM? _invitationsVM;
    private OrganizationsForUserVM? _organizationsVM;

    private class CreateOrganizationForm : DialogForm
    {
        public string Name { get; set; } = string.Empty;

        public override bool IsValid() => !string.IsNullOrWhiteSpace(Name);
    }
    private CreateOrganizationForm _createOrganizationForm = new();

    protected override async Task OnInitializedAsync()
    {
        HierarchyNavigationService.OpenIndexPage();
        await UpdateViewModels();
    }

    private void SelectOrganization(Guid organizationId)
    {
        NavManager.NavigateTo($"/org/{organizationId}/projects");
    }

    private async Task OpenInvitationsDialog()
    {
        if(_invitationsVM is null)
        {
            return;
        }

        var parameters = new DialogParameters
        {
            { "Invitations", _invitationsVM.Invitations.ToList() },
            { "OrganizationService", OrganizationsService }
        };

        var options = new DialogOptions
        {
            CloseButton = true,
            MaxWidth = MaxWidth.Small,
        };

        var dialogRef = await DialogService.ShowAsync<InvitationsDialog>("Invitations", parameters, options);
        var dialog = (dialogRef.Dialog as InvitationsDialog)!;
        _ = await dialogRef.Result;

        if(dialog.AnyInvitationHandled)
        {
            await UpdateViewModels();
        }
    }

    private async Task UpdateViewModels()
    {
        _organizationsVM = await OrganizationsService.GetForUser();
        _invitationsVM = await OrganizationsService.GetInvitationsForUser();
    }

    private async Task CreateOrganization()
    {
        if(!_createOrganizationForm.IsValid())
        {
            return;
        }

        var userId = UserDataService.CurrentUserVM?.Id;
        if(userId is null)
        {
            return;
        }

        var model = new CreateOrganizationDto(_createOrganizationForm.Name, userId.Value);
        var result = await OrganizationsService.Create(model);
        if(result)
        {
            await UserDataService.UpdateUserData();
            await UpdateViewModels();
            _createOrganizationForm = new();
        }
    }

    private bool HasOrganizationInvitations() 
        => _invitationsVM is not null && _invitationsVM.Invitations.Any();

    private string GetOrganizationInvitationsIcon() 
        => HasOrganizationInvitations() ? @Icons.Material.Filled.NotificationsActive : Icons.Material.Filled.NotificationsNone;
}
