@using Web.Client.Common;

<MudDialog @bind-IsVisible="Form.Visible" Style="width: 480px;" Options="@(new DialogOptions { NoHeader = true })" Class="py-4">
    <DialogContent>
        <MudText Typo="Typo.h6" Class="mb-4">@Title</MudText>
        <MudForm IsValid="@Form.IsValid()">
            <div class="d-flex gap-3 flex-column">
                @ChildContent
            </div>
            <div class="d-flex mt-6 gap-2 justify-end">
                <MudButton Variant="Variant.Filled" Color="Color.Dark" OnClick="@(() => Form.Close())">Cancel</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!Form.IsValid())" OnClick="@ConfirmClicked">@ConfirmButtonText</MudButton>
            </div>
        </MudForm>
    </DialogContent>
</MudDialog>

@code {
    [Parameter]
    public required Form Form { get; set; }

    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public required RenderFragment ChildContent { get; set; }

    [Parameter]
    public string ConfirmButtonText { get; set; } = "Create";

    [Parameter]
    public EventCallback OnConfirm { get; set; }

    private async Task ConfirmClicked()
    {
        await OnConfirm.InvokeAsync();
    }
}
