@inject TasksService TasksService

<MudOverlay Visible="@Visible" DarkBackground="true">
    <MudPaper Class="task-details-popup pa-6">
        <div class="d-flex justify-space-between align-center mb-4">
            <MudText Typo="Typo.h4">
                @($"#{_taskVM!.ShortId} {@_taskVM!.Title}")
            </MudText>
            <MudIconButton Icon="@Icons.Material.Filled.Close" OnClick="Close" />
        </div>
        <MudGrid>
            <MudDivider/>
            <MudItem md="7">
                <div class="d-flex align-center justify-space-between" style="height: 48px;">
                    <div class="d-flex align-center gap-4">
                        <MudIcon Icon="@Icons.Material.Filled.FormatAlignLeft"></MudIcon>
                        <MudText Typo="Typo.h6">
                            Description
                        </MudText>
                    </div>
                    @if (ModifyTasksPermissions && !_editDescriptionForm.Visible)
                    {
                        <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="@(() => { _editDescriptionForm.Open(); _editDescriptionForm.Content = _taskVM!.Description; })"/>
                    }
                </div>
                <div style="margin-left: 40px;">
                    @if (_editDescriptionForm.Visible)
                    {
                        <MudTextField @bind-Value="_editDescriptionForm.Content" Variant="Variant.Filled" Label="Enter description" AutoGrow Class="mb-1"></MudTextField>
                        <div class="d-flex justify-end gap-2">
                            <MudButton Variant="Variant.Filled" Color="Color.Dark" OnClick="@(() => _editDescriptionForm.Close())">
                                Cancel
                            </MudButton>
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!_editDescriptionForm.IsValid())" OnClick="@(() => UpdateTaskDescription(_taskVM!.Id))">
                                Save
                            </MudButton>
                        </div>
                    }
                    else
                    {
                        <MudText Typo="Typo.body1">
                            @_taskVM!.Description
                        </MudText>
                    }
                </div>
                <div class="d-flex align-center justify-space-between mt-6" style="height: 48px;">
                    <div class="d-flex align-center gap-4">
                        <MudIcon Icon="@Icons.Material.Filled.Comment"></MudIcon>
                        <MudText Typo="Typo.h6">
                            Comments
                        </MudText>
                    </div>
                    @if (AddCommentsPermissions && !_addCommentForm.Visible)
                    {
                        <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="@(() => _addCommentForm.Open())"></MudIconButton>
                    }
                </div>
                @if (_commentsVM is not null)
                {
                    <div style="margin-left: 40px;">
                        @if (AddCommentsPermissions)
                        {
                            if (_addCommentForm.Visible)
                            {
                                <MudTextField @bind-Value="_addCommentForm.Content" Variant="Variant.Filled" Label="New comment" Class="mb-1"></MudTextField>
                                <div class="d-flex justify-end gap-2">
                                    <MudButton Variant="Variant.Filled" Color="Color.Dark" OnClick="@(() => _addCommentForm.Close())">
                                        Cancel
                                    </MudButton>
                                    <MudButton Variant="Variant.Filled" Color="Color.Success" Disabled="@(!_addCommentForm.IsValid())" OnClick="@AddNewComment">
                                        Add
                                    </MudButton>
                                </div>
                            }
                        }
                        @if (_commentsVM.Comments.Any())
                        {
                            <div class="d-flex flex-column gap-4 mt-3">
                                @foreach (var comment in _commentsVM.Comments)
                                {
                                    <div>
                                        <div class="d-flex mb-2 align-center justify-space-between">
                                            <div class="d-flex align-center gap-2">
                                                <UserAvatar Name="@comment.AuthorName" UserId="@comment.AuthorId" Size="Size.Small"/>
                                                <MudText Style="font-weight: bold;">@comment.AuthorName</MudText>
                                            </div>
                                            <MudText Typo="Typo.caption">@comment.CreatedAt.GetHumanReadableTimeDifference(DateTime.Now)</MudText>
                                        </div>
                                        <div class="pa-2 comment-text">
                                            <MudText>
                                                @comment.Content
                                            </MudText>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <MudText>
                                No comments yet.
                            </MudText>
                        }
                    </div>
                }
                <div class="d-flex align-center justify-space-between mt-6" style="height: 48px;">
                    <div class="d-flex align-center gap-4">
                        <MudIcon Icon="@Icons.Material.Filled.History"></MudIcon>
                        <MudText Typo="Typo.h6">
                            Activity
                        </MudText>
                    </div>
                </div>
                @if (_activitiesVM is not null)
                {
                    <div style="margin-left: 40px;">
                        @if (_activitiesVM.Activities.Any())
                        {
                            <div class="d-flex flex-column gap-4">
                                @foreach (var activity in _activitiesVM.Activities)
                                {
                                    <div class="d-flex align-center gap-2">
                                        <!--<UserAvatar Name="" /> TODO? -->
                                        <div class="d-flex flex-column gap-1">
                                            <MudText>
                                                @GetActivityText(activity)
                                            </MudText>
                                            <MudText Typo="Typo.caption">
                                                @activity.OccurredAt.GetHumanReadableTimeDifference(DateTime.Now)
                                            </MudText>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <MudText>
                                No activity yet.
                            </MudText>
                        }
                    </div>
                }
            </MudItem>
            <MudItem md="5">
                <MudText Typo="Typo.h6">
                    Properties
                </MudText>
                <MudDivider />
                @if (TransitionTasksPermissions)
                {
                    <MudSelect T="TaskStatusVM" Value="@_taskVM!.Status" ValueChanged="e => UpdateTaskStatus(_taskVM!.Id, e.Id)"
                               ToStringFunc="@(x => x.Name)" Label="Status" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var status in _taskVM!.PossibleNextStatuses)
                        {
                            <MudSelectItem Value="@status"></MudSelectItem>
                        }
                    </MudSelect>
                }
                else
                {
                    <MudField Variant="Variant.Filled" Label="Status">
                        @_taskVM!.Status.Name
                    </MudField>
                }
                @if (ModifyTasksPermissions)
                {
                    <MudSelect T="TaskPriority" Value="@_taskVM!.Priority" ValueChanged="e => UpdateTaskPriority(_taskVM!.Id, e)"
                               Label="Priority" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var priority in Enum.GetValues<TaskPriority>())
                        {
                            <MudSelectItem Value="@priority"></MudSelectItem>
                        }
                    </MudSelect>
                }
                else
                {
                    <MudField Variant="Variant.Filled" Label="Priority">
                        @_taskVM!.Priority
                    </MudField>
                }
                @if (AssignTasksPermissions)
                {
                    <MudSelect T="ProjectMemberVM" Value="@MembersVM.GetCurrentAssigneeVM(_taskVM!.AssigneeId)" ValueChanged="e => UpdateTaskAssignee(_taskVM!.Id, e.Id)"
                               ToStringFunc="@(x => x.Name)" Label="Assignee" Variant="Variant.Filled" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var member in MembersVM.GetPossibleAssignees(_taskVM!.AssigneeId))
                        {
                            <MudSelectItem Value="@member"></MudSelectItem>
                        }
                    </MudSelect>
                }
                else
                {
                    <MudField Variant="Variant.Filled" Label="Assignee">
                        @(MembersVM.GetCurrentAssigneeVM(_taskVM!.AssigneeId)?.Name ?? string.Empty)
                    </MudField>
                }
                <MudText Typo="Typo.h6" Class="mt-4">
                    Time Tracking
                </MudText>
                <MudDivider Class="mb-2" />
                <div class="d-flex align-center justify-space-between">
                    <MudText Typo="Typo.body2">
                        Logged
                    </MudText>
                    <MudText Typo="Typo.body2">
                        Remaining (Estimated)
                    </MudText>
                </div>
                <MudProgressLinear Color="Color.Primary" Rounded="true" Value="100" Class="my-1"></MudProgressLinear>
                <div class="d-flex align-center justify-space-between">
                    <div class="d-flex align-center">
                        <MudText>
                            @TimeParser.FromMinutes(_taskVM!.TotalTimeLogged)
                        </MudText>
                        @if (LogTimePermissions && !_logTimeForm.Visible)
                        {
                            <MudIconButton Icon="@Icons.Material.Filled.Add" Size="Size.Small" OnClick="@(() => { _editEstimatedTimeForm.Close(); _logTimeForm.Open(); })"></MudIconButton>
                        }
                    </div>
                    <div class="d-flex align-center">
                        @if (EstimateTasksPermissions && !_editEstimatedTimeForm.Visible)
                        {
                            <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Small" OnClick="@(() => { _logTimeForm.Close(); _editEstimatedTimeForm.Open(); })"></MudIconButton>
                        }
                        <MudText>
                            3h 45m (2d 8h)
                        </MudText>
                    </div>
                </div>
                @if (_logTimeForm.Visible)
                {
                    <MudDatePicker Label="Day" @bind-Date="_logTimeForm.Day" DisableToolbar="true" Variant="Variant.Filled"></MudDatePicker>
                    <MudTextField @bind-Value="_logTimeForm.Content" Variant="Variant.Filled" Label="Time spent" Class="mb-1"></MudTextField>
                    <div class="d-flex justify-end gap-2">
                        <MudButton Variant="Variant.Filled" Color="Color.Dark" OnClick="@(() => _logTimeForm.Close())">
                            Cancel
                        </MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!_logTimeForm.IsValid())" OnClick="@LogTime">
                            Add
                        </MudButton>
                    </div>
                }
                @if (_editEstimatedTimeForm.Visible)
                {
                    <MudTextField @bind-Value="_editEstimatedTimeForm.Content" Variant="Variant.Filled" Label="Estimated time" Class="mb-1"></MudTextField>
                    <div class="d-flex justify-end gap-2">
                        <MudButton Variant="Variant.Filled" Color="Color.Dark" OnClick="@(() => _editEstimatedTimeForm.Close())">
                            Cancel
                        </MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Success" Disabled="@(!_editEstimatedTimeForm.IsValid())">
                            Save
                        </MudButton>
                    </div>
                }
            </MudItem>
        </MudGrid>
    </MudPaper>
</MudOverlay>

@code {
    [Parameter]
    public Guid ProjectId { get; set; }

    [Parameter]
    public ProjectMembersVM MembersVM { get; set; } = null!;

    [Parameter]
    public bool TransitionTasksPermissions { get; set; }

    [Parameter]
    public bool ModifyTasksPermissions { get; set; }

    [Parameter]
    public bool AddCommentsPermissions { get; set; }

    [Parameter]
    public bool AssignTasksPermissions { get; set; }
    
    [Parameter]
    public bool LogTimePermissions { get; set; }
    
    [Parameter]
    public bool EstimateTasksPermissions { get; set; }

    [Parameter]
    public EventCallback TaskUpdated { get; set; } 

    public bool Visible { get; private set; }

    private TaskVM? _taskVM;

    private TaskCommentsVM? _commentsVM = null;
    private TaskActivitiesVM? _activitiesVM = null;

    private class AddCommentForm : DialogForm
    {
        public string Content { get; set; } = string.Empty;

        public override bool IsValid() => !string.IsNullOrWhiteSpace(Content);
    }
    private AddCommentForm _addCommentForm = new();

    private class EditDescriptionForm : DialogForm
    {
        public string Content { get; set; } = string.Empty;

        public override bool IsValid() => !string.IsNullOrWhiteSpace(Content);
    }
    private EditDescriptionForm _editDescriptionForm = new();

    private class LogTimeForm : DialogForm
    {
        public string Content { get; set; } = string.Empty;
        public DateTime? Day { get; set; } = DateTime.Today;

        public override bool IsValid() => TimeParser.TryToMinutes(Content, out _) && Day is not null;
    }
    private LogTimeForm _logTimeForm = new();

    private class EditEstimatedTimeForm : DialogForm
    {
        public string Content { get; set; } = string.Empty;

        public override bool IsValid() => TimeParser.TryToMinutes(Content, out _);
    }

    private EditEstimatedTimeForm _editEstimatedTimeForm = new();
    
    public async Task Open(TaskVM taskVM)
    {
        Visible = true;
        _taskVM = taskVM;

        await UpdateCommentsVM();
        await UpdateActivitiesVM();
    }

    public void Close()
    {
        Visible = false;

        _addCommentForm = new();
        _editDescriptionForm = new();
        _logTimeForm = new();
        _editEstimatedTimeForm = new();
    }

    public void Update(TaskVM taskVM)
    {
        _taskVM = taskVM;
    }

    public Guid CurrentTaskId => _taskVM!.Id;

    private async Task UpdateCommentsVM()
    {
        if (_taskVM is null)
        {
            return;
        }
        
        _commentsVM = await TasksService.GetComments(ProjectId, _taskVM.Id);
    }

    private async Task UpdateActivitiesVM()
    {
        if (_taskVM is null)
        {
            return;
        }
        
        _activitiesVM = await TasksService.GetActivities(ProjectId, _taskVM.Id);
    }

    public async Task UpdateTaskStatus(Guid taskId, Guid newStatusId)
    {
        var model = new UpdateTaskStatusDto(newStatusId);
        _ = await TasksService.UpdateStatus(ProjectId, taskId, model);

        await TaskUpdated.InvokeAsync();
        await UpdateActivitiesVM();
    }

    private async Task UpdateTaskPriority(Guid taskId, TaskPriority newPriority)
    {
        var model = new UpdateTaskPriorityDto(newPriority);
        _ = await TasksService.UpdatePriority(ProjectId, _taskVM!.Id, model);

        await TaskUpdated.InvokeAsync();
        await UpdateActivitiesVM();
    }

    private async Task UpdateTaskAssignee(Guid taskId, Guid memberId)
    {
        var model = new UpdateTaskAssigneeDto(memberId != Guid.Empty ? memberId : null);
        _ = await TasksService.UpdateAssignee(ProjectId, _taskVM!.Id, model);

        await TaskUpdated.InvokeAsync();
        await UpdateActivitiesVM();
    }

    private async Task UpdateTaskDescription(Guid taskId)
    {
        if (!_editDescriptionForm.IsValid())
        {
            return;
        }

        var model = new UpdateTaskDescriptionDto(_editDescriptionForm.Content);
        _ = await TasksService.UpdateDescription(ProjectId, _taskVM!.Id, model);

        await TaskUpdated.InvokeAsync();
        await UpdateActivitiesVM();
        _editDescriptionForm = new();
    }

    private async Task AddNewComment()
    {
        if (!_addCommentForm.IsValid())
        {
            return;
        }

        var model = new AddTaskCommentDto(_addCommentForm.Content);
        _ = await TasksService.AddComment(ProjectId, _taskVM!.Id, model);

        await UpdateCommentsVM();
        _addCommentForm = new();
    }

    private async Task LogTime()
    {
        if (!_logTimeForm.IsValid())
        {
            return;
        }

        _ = TimeParser.TryToMinutes(_logTimeForm.Content, out var minutes);
        var model = new LogTaskTimeDto(minutes, DateOnly.FromDateTime(_logTimeForm.Day!.Value));
        _ = await TasksService.LogTime(ProjectId, _taskVM!.Id, model);

        await TaskUpdated.InvokeAsync();
        await UpdateActivitiesVM();
        _logTimeForm = new();
    }

    private string GetActivityText(TaskActivityVM activity)
    {
        // TODO: Display properties as bolded
        return activity.Property switch
        {
            TaskProperty.Description => "Updated description.",
            TaskProperty.Status => $"Changed status from {activity.OldValue} to {activity.NewValue}.",
            TaskProperty.Assignee => activity.NewValue is null ? $"Unassigned {activity.OldValue}."
                : (activity.OldValue is null ? $"Assigned {activity.NewValue}." : $"Changed assignee from {activity.OldValue} to {activity.NewValue}."),
            TaskProperty.Priority => $"Changed priority from {activity.OldValue} to {activity.NewValue}.",
            _ => "Unrecognizable activity."
        };
    }
}
